.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(37, 44, 44);
}
.app__searchForm{
margin-top: 18px;
}
.app__input {
  padding: 6px 16px;
  max-width: 200px;
  min-width: 15px;
  font-size: 20px;
}
.title{
  color: #fff;
  font-size: 75px;
  font-weight: 300;
}
.app__submit{
  padding: 6px ;
  font-size: 15px;
  margin-left: 6px;
  background-color: aqua;
  border-radius: 2px solid #fff;
  cursor: pointer;
}
.app__healthlabel{
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: large;
  border-radius: 5px;
  border: 1px solid rgb(150, 148, 148);
}